"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=5

" Do incremental searching.
set incsearch

" Don't use Ex mode, use Q for formatting.
map Q gq


"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
"" Map \r to the Reformat Code action
"map \r <Action>(ReformatCode)

"" Map <leader>d to start debug
"map <leader>d <Action>(Debug)

"" Map \b to toggle the breakpoint on the current line
"map \b <Action>(ToggleLineBreakpoint)


" Find more examples here: https://jb.gg/share-ideavimrc
let mapleader = " "

" Configure the vim environment
set relativenumber
set number
set incsearch

set hlsearch          " highlight searches by default
set encoding=utf-8 fileencodings= " use utf8 by default
set history=1000               "store lots of :cmdline history
set showmode

set scrolloff=5
set visualbell
set noerrorbells

" Active emulated plugins
set commentary
set multiple-cursors
set surround
set easymotion
set ideajoin
set NERDTree
set ReplaceWithRegister
set highlightedyank


map <leader>rc <Action>(ReformatCode)
map <leader>tb <Action>(ToggleLineBreakpoint)

" map <C-q> <Action>(QuickJavaDoc)
nnoremap \e :e C:/Users/LefrancoisC/.ideavimrc<CR>
nnoremap \r :action IdeaVim.ReloadVimRc.reload<cr>
map \b <Action>(ToggleLineBreakpoint)
map <c-z> <Action>(ToggleDistractionFreeMode)<CR>

nnoremap <leader>ff :action GotoFile<CR>
map <leader>fe :NERDTree<cr>
nnoremap <leader>fp :action FindInPath<CR>
map gcl <Action>(GotoClass)<CR>
map gi <Action>(GotoImplementation)<CR>

map gd <Action>(GotoDeclaration)<CR>
map gp <Action>(GotoSuperMethod)<CR>
map gt <Action>(GotoTest)<CR>
map gb <Action>(Back)<CR>
map gf <Action>(Forward)<CR>
map ge <Action>(ShowErrorDescription)
map oi <Action>(OptimizeImports)

" Window management
map <c-h> <c-w>h
map <c-j> <c-w>j
map <c-k> <c-w>k
map <c-l> <c-w>l
map <a-,> <Action>(PreviousTab)
map <a-.> <Action>(NextTab)

" Git
nmap <Leader>gc <Action>(Git.Commit.Stage)<CR>
" Remove some fat finger typing mistakes
nmap :X :x
nmap :X! :x!
nmap :W :w
nmap :W! :w!
nmap :Q :q
nmap :Q! :q!
nmap :Qa :qa
nmap :Wq! :wq!
nmap :WQ! :wq!
nnoremap E $

nnoremap Y y$

" Break the Habit of Reaching for the Arrow Keys
noremap <Up> <Nop>
noremap <Down> <Nop>
noremap <Left> <Nop>
noremap <Right> <Nop>

" NewLine stuff
nmap <S-Enter> O<Esc>j
nmap <C-Enter> o<Esc>k
nmap <Enter>   i<Enter><Esc>

sethandler <C-q> a:ide
sethandler <C-h> a:vim
sethandler <C-j> a:vim
sethandler <C-k> a:vim
sethandler <C-l> a:vim
