let mapleader = ","

" Configure the vim environment
set relativenumber
set number
set incsearch

set hlsearch          " highlight searches by default
set encoding=utf-8 fileencodings= " use utf8 by default
set history=1000               "store lots of :cmdline history
set showmode

set visualbell
set noerrorbells

" Active emulated plugins
set commentary
set multiple-cursors
set surround
set easymotion
set ideajoin


map <leader>rc <Action>(ReformatCode)
map <leader>fip <Action>(FindInPath)

" Remove some fat finger typing mistakes
nmap :X :x
nmap :X! :x!
nmap :W :w
nmap :W! :w!
nmap :Q :q
nmap :Q! :q!
nmap :Qa :qa
nmap :Wq! :wq!
nmap :WQ! :wq!

" let mapleader=";"
" nnoremap ; :

" Break the Habit of Reaching for the Arrow Keys
noremap <Up> <Nop>
noremap <Down> <Nop>
noremap <Left> <Nop>
noremap <Right> <Nop>

" NewLine stuff
nmap <S-Enter> O<Esc>j
nmap <C-Enter> o<Esc>k
nmap <Enter>   i<Enter><Esc>
